/node_modules
/public/hot
/public/storage
/public/assets/img/
/public/js/
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea
.vscode
.vagrant
.phpintel
.phpunit.result.cache
/nbproject/private/
