.requiredColor {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    background-color: rgba(0,0,0,.4);
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    color: #d12420 !important;
}